html, body {
  width: 100%;
  height:100% ;
  padding:0 ;
  margin: 0;   
  max-width: 100%;
}

body * { 
  box-sizing: border-box ;
  font-family: Verdana, sans-serif; 
  margin:0
}

img{
  width: 100%;
  height: 100%;
}

.logo{
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;
}

.img-1
{
  width: 100;
  padding: 2rem 2rem 2rem 2rem;
  box-shadow: 1rem 1rem 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem 0 rgba(0, 0, 0, 0.19);
}

header,
header nav {
  width: 100%;
  height: 20%; 
  margin: auto;
  padding: auto;  
}

ul {
  list-style-type: none;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  background-color: rgb(31, 102, 25);
  position: sticky;
  top: -400;  
  background-color: #fefefe;
  border-bottom: 0.06px solid rgb(0, 0, 0);
  box-shadow: 0 0 1rem 0 rgba(177, 0, 0, 0.5);
}

header nav ul li a:visited { 
  color: #000;
}

header nav ul li a:hover{
  color:dodgerblue;
}

header nav ul > li > ul  {
  box-shadow: 0 .3rem .3rem 0 rgba(0,0,0,.2);
  width: min-content;

}


header nav ul > li > ul >li > a {
  width: 100%;
  background-color: #d3edff;
  border-bottom: 0.1rem solid rgb(194, 0, 0);
  white-space: nowrap;
}


li {
  float: left;
}


li a {
  display: block;
  color: rgb(255, 98, 98);
  text-align: center;
  padding: 0.3rem 0.3rem;
  text-decoration: none;
  
}

li a:hover {
  background-color: rgb(253, 235, 235);
}

input{
  width: 50%;
  height: 50%;
  box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.2);
  color:rgb(194, 0, 0);
  float: right;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 2rem;
  
}

a:hover {
  color: rgb(169, 238, 255);
}







.text-h2 {
  text-align:center;
  color: darkblue;
  border: 1rem solid bisque;
  position:relative;
  padding: 1rem ;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.column {
  border: 0.2rem solid goldenrod;

}

.img-tv{
  border-radius: 30%; 
  width: 70%; 
  height:70%;
}

.img-samsung{
  width: 15%; 
  height:15%; 
  float:right;

}

.img-phone{
  width: 15%; 
  height:15%; 
  float:right;
  z-index: 5rem;
}

.container {
  display: flex;
  flex-direction:row;
  padding: 0.4rem;
  width: 100%;
  height: 50%;
}

.container_form , .recentie{
  font-size:3.4rem;
  color: rgb(199, 129, 0);
  text-align: center;
  padding-top: 1rem;
}

input[type=text], textarea {
  width: 48%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid rgb(214, 166, 45);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:rgb(240, 238, 238);
  float: left;
  font-size:medium;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
}

textarea, #subject {
  width: 45%;
  height:16rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: -13rem;
  float: right;
  background: scroll rgb(240, 238, 238);
  border-radius: 1rem;
  border: 0.1rem solid rgb(214, 166, 45);
  font-size:medium;
  position: relative;
  color:rgb(194, 0, 0);
  font-size: medium;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
}

input[type=submit] {
  width: 40%;
  background-color: #1ba7f8;
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  margin: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
input[type=submit]:hover {
  box-shadow: 0rem 0rem 1rem 0rem #28adfa;
}

.button {
  background-color: #84af4c; 
  border: none;
  color: white;
  font-size: 2rem;
  margin: 4rem 4rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  width: 90%;
  height: 15%;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width:95%;
  border: 1px solid rgb(233, 21, 21);
  margin-top: 4rem;  
}

th, td {
  text-align: left;
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: #e59595;
}

.contactimg{
  width: auto;
}

.contacttekst{
  text-align:right;
  margin-top: -19rem;
  margin-bottom: 10rem;
  color: #317eaa;
  padding: 3rem;
}


@media screen and (max-width: 793px) {
  body {
    background-color: rgb(253, 211, 211);
  }

 header {
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  }
}


/*@media screen and (max-width: 280px) {
}
*/

@media screen and (max-width: 900px) {
  body {
    background-color: rgb(226, 55, 55);
  } 
}


@media screen and (max-width: 710px){

  input[type=text], textarea {
    width: 75%;
    justify-content: center;
    float: none;
  }
  
  textarea, #subject {
    width: 75%;
    border-radius: 1rem;
    border: 0.1rem solid rgb(214, 166, 45);
    margin-top: 1rem;
    background-color:rgb(240, 238, 238);
    font-size:medium;
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
    float: none;
    margin-left: 3rem;
  }

  input[type=submit] {
    visibility: hidden;
    display: none;

  }
  header input{
    visibility: hidden;
    display: none;
  }
}


@media screen and (max-width: 580px) {

  .yazı{
    font-size: medium;
    margin: auto;
    padding: 0.3rem;
    color: rgb(107, 53, 207);
  }
}
