body{
    background-color: rgb(170, 169, 169);
    
}

body * { 
    box-sizing: border-box ;
}

.logo{
    width: 30vh;
    height: 20vh;
}

/**
input{
float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
} 
**/