html, body {
    width: 100%;
    height:100% ;
    padding:0 ;
    margin: 0;   
    max-width: 100%;
}

body * { 
    box-sizing: border-box ;
    font-family: Verdana, sans-serif; 
    margin:0
}
img{
  width: 80%;
  height: 80%;
}

header,
header nav {
    width: 100%;
    height: 20%;
    
}

header nav {
    position:fixed;  
    background-color: #fefefe;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 1rem 0 rgba(177, 0, 0, 0.5);
    z-index: 5;
    
}

header nav,
header nav ul ,
header nav ul > li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0;
      padding: 0;
      align-items: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul > li {
    position: relative;
}

header nav ul > li:hover ul{
    top: 100%;
}

/* yazıları yakınlaştırma ve yazıları küçültme*/

header nav ul li a,
header nav ul li a:visited {
    padding: 1rem 1rem ;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
}

header nav ul li a:hover{
    color:dodgerblue;
}

header nav ul > li > ul  {
    position: absolute;
    top: -450%;
    left: 0;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 .3rem .3rem 0 rgba(0,0,0,.2);
    transition:  .7s ease;
    z-index: -1;
}

header nav ul > li > ul >li > a {
    width: 100%;
    background-color: #d3edff;
    border-bottom: 1px solid rgb(194, 0, 0);
    white-space: nowrap;

}

input{
    width: 90%;
    box-shadow: 0 .1rem .3rem 0 rgba(0,0,0,.2);
    color:rgb(194, 0, 0);
    float: right;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 2rem ;

}

.text-search {
  color: #f5d6d6;
  border: 1rem solid rgb(140, 224, 252);
  background-color: rgb(184, 118, 247);
  font-size:larger;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  position: absolute;
  bottom: 10rem;
  width: 10%;   
  text-decoration: none; 
  text-shadow: 2px 2px red;
  position: relative;
}

a:hover {
  color: rgb(169, 238, 255);
}

.img-1
{
    padding: 3rem 1rem 1rem 1rem;
    box-shadow: 1rem 1rem 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem 0 rgba(0, 0, 0, 0.19);
}

.text-h2 {
  text-align:center;
  color: darkblue;
  border: 1rem solid bisque;
  position:relative;
  padding: 1rem ;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.column {
  border: 0.2rem solid goldenrod;
  float: left;
  padding: 1rem;
  padding-top: 3rem;
  margin-bottom: 4rem;
}

.img-samsung{
 margin-right:2rem ;
 margin-right: 3rem;
 margin-top: 1rem;
 position: relative;
 width: 15%; 
 height:15%; 
 float:right;
}

.img-phone{
  width: 15%; 
  height:15%; 
  float : right;
  position:relative;
  margin:-11rem 3rem 0rem 6rem;
}

.img-tv{
  border-radius: 30%; 
  width: 70%; 
  height:70%;
}
.container {
  display: flex;
  flex-direction:row;
  padding-left: 3rem;
}

input[type=text], textarea {
  width: 48%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid rgb(214, 166, 45);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:rgb(240, 238, 238);
  float: left;
  font-size:medium;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
}

textarea, #subject {
  width: 45%;
  height:16rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: -13rem;
  float: right;
  background: scroll rgb(240, 238, 238);
  border-radius: 1rem;
  border: 0.1rem solid rgb(214, 166, 45);
  font-size:medium;
  position: relative;
  color:rgb(194, 0, 0);
  font-size: medium;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.2);
}


input[type=submit] {
  width: 40%;
  background-color: #1ba7f8;
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  margin: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
input[type=submit]:hover {
  box-shadow: 0rem 0rem 1rem 0rem #28adfa;
}





